<div class="container">
    <div class="row clearfix">
        <div class="burger-column">
            <ul class="burger-list">
                {{#each notDevoured}}
                <li class="burger clearfix">
                    {{this.id}}. {{this.burger_name}}
                    <button class="burger-button devour-it" data-id={{this.id}}>
                        Devour It!
                    </button>
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="burger-column">
            <ul class="burger-list">
                {{#each devoured}}
                <li class="burger clearfix">
                    {{this.id}}. {{this.burger_name}}
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <form action="/api/burger" method="POST" class="burger-form">
            <textarea id="burger_name" name="burger_name"></textarea>
            <button class="burger-button">Submit</button>
        </form>
    </div>
</div>